.App {
  text-align: center;
  border: 1px solid red

}

.Board {
  display: flex;
  border: 1px solid blue;
  flex-wrap: wrap;
}

.Square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}